/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  vertical-align: bottom; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container:before,
.container:after,
.row:before,
.row:after,
.col:before,
.col:after {
  content: " ";
  display: table; }

.container:after,
.row:after,
.col:after {
  clear: both; }

.container {
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.col {
  position: relative;
  height: 100%;
  display: inline-block;
  float: left;
  min-height: 1px; }

.col-12 {
  width: 100%; }

.col-11 {
  width: 91.66666666666666%; }

.col-10 {
  width: 83.33333333333334%; }

.col-9 {
  width: 75%; }

.col-8 {
  width: 66.66666666666666%; }

.col-7 {
  width: 58.333333333333336%; }

.col-6 {
  width: 50%; }

.col-5 {
  width: 41.66666666666667%; }

.col-4 {
  width: 33.33333333333333%; }

.col-3 {
  width: 25%; }

.col-2 {
  width: 16.666666666666664%; }

.col-1 {
  width: 8.333333333333332%; }

@font-face {
  font-family: 'Euclid Flex';
  font-style: normal;
  font-weight: 700;
  src: url("../font/EuclidFlex-Bold.otf"); }
@font-face {
  font-family: 'Euclid Flex';
  font-style: normal;
  font-weight: 300;
  src: url("../font/EuclidFlex-Medium.otf"); }
@font-face {
  font-family: 'Euclid Flex';
  font-style: normal;
  font-weight: 100;
  src: url("../font/EuclidFlex-Light.otf"); }
@font-face {
  font-family: 'SpoqahanSans';
  font-weight: 700;
  src: local("SpoqaHanSans-Bold"), local("SpoqaHanSans-Bold"), url(https://cdn.rawgit.com/spoqa/spoqa-han-sans/master/Subset/SpoqaHanSans/Spoqa%20Han%20sans_subset%28webfont%20inclued%29/SpoqaHanSans-Bold/SpoqaHanSans-Bold.eot) format("eot"), url(https://cdn.rawgit.com/spoqa/spoqa-han-sans/master/Subset/SpoqaHanSans/Spoqa%20Han%20sans_subset%28webfont%20inclued%29/SpoqaHanSans-Bold/SpoqaHanSans-Bold.svg) format("svg"), url(https://cdn.rawgit.com/spoqa/spoqa-han-sans/master/Subset/SpoqaHanSans/Spoqa%20Han%20sans_subset%28webfont%20inclued%29/SpoqaHanSans-Bold/SpoqaHanSans-Bold.ttf) format("truetype"), url(https://cdn.rawgit.com/spoqa/spoqa-han-sans/master/Subset/SpoqaHanSans/Spoqa%20Han%20sans_subset%28webfont%20inclued%29/SpoqaHanSans-Bold/SpoqaHanSans-Bold.woff) format("woff"); }
@font-face {
  font-family: 'SpoqahanSans';
  font-weight: 300;
  src: local("SpoqaHanSans-Regular"), local("SpoqaHanSans-Regular"), url(https://cdn.rawgit.com/spoqa/spoqa-han-sans/master/Subset/SpoqaHanSans/Spoqa%20Han%20sans_subset%28webfont%20inclued%29/SpoqaHanSans-Regular/SpoqaHanSans-Regular.eot) format("eot"), url(https://cdn.rawgit.com/spoqa/spoqa-han-sans/master/Subset/SpoqaHanSans/Spoqa%20Han%20sans_subset%28webfont%20inclued%29/SpoqaHanSans-Regular/SpoqaHanSans-Regular.svg) format("svg"), url(https://cdn.rawgit.com/spoqa/spoqa-han-sans/master/Subset/SpoqaHanSans/Spoqa%20Han%20sans_subset%28webfont%20inclued%29/SpoqaHanSans-Regular/SpoqaHanSans-Regular.ttf) format("truetype"), url(https://cdn.rawgit.com/spoqa/spoqa-han-sans/master/Subset/SpoqaHanSans/Spoqa%20Han%20sans_subset%28webfont%20inclued%29/SpoqaHanSans-Regular/SpoqaHanSans-Regular.woff) format("woff"); }
@font-face {
  font-family: 'SpoqahanSans';
  font-weight: 100;
  src: local("SpoqaHanSans-Thin"), local("SpoqaHanSans-Thin"), url(https://cdn.rawgit.com/spoqa/spoqa-han-sans/master/Subset/SpoqaHanSans/Spoqa%20Han%20sans_subset%28webfont%20inclued%29/SpoqaHanSans-Thin/SpoqaHanSans-Thin.eot) format("eot"), url(https://cdn.rawgit.com/spoqa/spoqa-han-sans/master/Subset/SpoqaHanSans/Spoqa%20Han%20sans_subset%28webfont%20inclued%29/SpoqaHanSans-Thin/SpoqaHanSans-Thin.svg) format("svg"), url(https://cdn.rawgit.com/spoqa/spoqa-han-sans/master/Subset/SpoqaHanSans/Spoqa%20Han%20sans_subset%28webfont%20inclued%29/SpoqaHanSans-Thin/SpoqaHanSans-Thin.ttf) format("truetype"), url(https://cdn.rawgit.com/spoqa/spoqa-han-sans/master/Subset/SpoqaHanSans/Spoqa%20Han%20sans_subset%28webfont%20inclued%29/SpoqaHanSans-Thin/SpoqaHanSans-Thin.woff) format("woff"); }
body {
  font-family: 'Euclid Flex', 'Apple SD Gothic Neo', 'SpoqahanSans', Sans-serif;
  font-size: 14px;
  letter-spacing: -.015em;
  word-spacing: .09em;
  word-break: keep-all;
  color: #222; }

h1 {
  font-weight: 700;
  font-size: 55px;
  letter-spacing: -.01em; }

h2 {
  font-weight: 700;
  font-size: 35px;
  letter-spacing: -.03em; }

h3 {
  font-weight: 100;
  font-size: 30px;
  letter-spacing: -.02em;
  color: white; }

h4 {
  font-weight: 100;
  font-size: 20px; }

h5 {
  font-weight: 100;
  font-size: 10px; }

p {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.65em; }

/* default */
.section {
  text-align: center;
  padding: 140px 0; }

.divider {
  width: 50px;
  height: 3px;
  background-color: #666; }

.header-link {
  display: inline-block;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 300;
  color: #4adaaf;
  text-decoration: none;
  border-bottom: 1px solid #4adaaf; }

.btn-wrapper {
  margin-top: 28px;
  padding-bottom: 4px;
  overflow: hidden; }
.btn-appstore {
  float: left;
  width: 144px;
  height: 50px;
  background: url("../img/btn-appstore.png") no-repeat;
  background-size: cover;
  border: 1px solid #dedede;
  transition: 0.3s all ease;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.05);
  -moz-box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.05);
  box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.05); }
.btn-googleplay {
  float: left;
  width: 149px;
  height: 50px;
  margin-left: 20px;
  background: url("../img/btn-googleplay.png") no-repeat;
  background-size: cover;
  border: 1px solid #dedede;
  transition: 0.3s all ease;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.05);
  -moz-box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.05);
  box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.05); }
.btn-appstore:hover, .btn-googleplay:hover {
  border: 1px solid #666; }
.btn-arrow {
  width: 32px;
  height: 32px;
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 100;
  line-height: 27px;
  border: 1px solid #4adaaf;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  -webkit-transition: all 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 1000ms cubic-bezier(0.075, 0.82, 0.165, 1); }
  .btn-arrow a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #4adaaf;
    text-decoration: none; }
.btn-arrow:hover {
  background-color: #4adaaf; }
.btn-arrow a:hover {
  color: white; }
.btn-round {
  display: inline-block;
  padding: 12px 18px;
  font-weight: 300;
  color: #4adaaf;
  border: 1px solid #4adaaf;
  transition: 0.2s all ease;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
.btn-round:hover {
  color: white;
  background-color: #4adaaf; }

.alram-new {
  float: left;
  width: 18px;
  height: 18px;
  margin-left: 6px;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  line-height: 18px;
  color: white;
  background-color: #4adaaf;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px; }

/* default End */
/* GNB */
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  transition: 0.3s all ease;
  z-index: 1000; }
  .nav-logo {
    display: inline-block;
    width: 114px;
    height: 34px;
    background: url("../img/logo-white.png");
    background-size: cover;
    margin-top: 12px; }
  .nav .inline-list {
    float: right;
    margin-top: 21px; }
    .nav .inline-list-item {
      float: left;
      margin-left: 50px;
      font-weight: 500; }
      .nav .inline-list-item a {
        color: white;
        text-decoration: none;
        opacity: 0.3;
        transition: 0.25s all ease; }
      .nav .inline-list-item a:hover {
        color: white;
        opacity: 1; }
    .nav .inline-list .active {
      color: #4adaaf !important;
      opacity: 1;
      border-bottom: 2px solid #4adaaf; }
    .nav .inline-list .active:hover {
      color: #29b68c !important;
      opacity: 1;
      border-bottom: 2px solid #29b68c; }

.nav-scroll {
  background-color: white;
  border-bottom: 1px solid #dedede; }

.item-scroll {
  color: #222 !important; }

/* GNB End */
/* footer */
.footer {
  width: 100%;
  height: 70px;
  border-top: 1px solid #dedede;
  background-color: white; }
  .footer-copyright {
    float: left;
    font-size: 16px;
    font-weight: 300;
    line-height: 66px;
    color: #ccc; }
  .footer-icon-wrapper {
    float: right;
    margin-top: 23px; }
    .footer-icon-wrapper .icon {
      display: inline-block;
      width: 22px;
      height: 22px;
      margin-left: 18px;
      transition: 0.2s all ease; }
      .footer-icon-wrapper .icon-fb {
        background: url("../img/icon-fb-light.png");
        background-size: cover; }
      .footer-icon-wrapper .icon-insta {
        background: url("../img/icon-insta-light.png");
        background-size: cover; }
      .footer-icon-wrapper .icon-blog {
        background: url("../img/icon-blog-light.png");
        background-size: cover; }
      .footer-icon-wrapper .icon-fb:hover {
        background: url("../img/icon-fb.png");
        background-size: cover; }
      .footer-icon-wrapper .icon-insta:hover {
        background: url("../img/icon-insta.png");
        background-size: cover; }
      .footer-icon-wrapper .icon-blog:hover {
        background: url("../img/icon-blog.png");
        background-size: cover; }

/* footer End */
/* section-intro */
.section-intro {
  position: relative;
  max-height: 800px;
  overflow: hidden;
  z-index: 15; }
  .section-intro .content-wrapper {
    margin-top: 310px;
    text-align: center;
    overflow: hidden; }
  .section-intro .content-kor {
    position: relative;
    text-align: center;
    font-weight: 700;
    color: white;
    line-height: 1.5em; }
  .section-intro .content-kor span:after {
    content: '';
    display: block;
    position: absolute;
    left: 234px;
    bottom: 8px;
    width: 254px;
    height: 4px;
    background-color: #4adaaf;
    z-index: -20; }
  .section-intro .btn-arrow {
    position: absolute;
    left: 50%;
    bottom: 30px;
    margin-left: -20px;
    line-height: 29px;
    color: white;
    border: 1px solid white;
    opacity: 0.4; }
  .section-intro .btn-arrow:hover {
    color: #999;
    background-color: white;
    opacity: 1; }
  .section-intro-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url("../img/section-intro-bg.png") no-repeat;
    z-index: -100; }

/* section-intro End */
/* section-about */
.section-about {
  position: relative;
  padding: 190px 0 170px;
  text-align: left;
  background: url("../img/section-app-bg.png") no-repeat;
  background-position: center bottom; }
  .section-about .content-wrapper {
    padding-left: 10%; }
  .section-about .content-header {
    max-width: 400px;
    line-height: 1.3em; }
  .section-about .content-description {
    max-width: 400px;
    margin-top: 20px;
    line-height: 1.6em;
    color: #999; }
  .section-about .iphone-wrapper {
    position: relative;
    padding-left: 1%; }
  .section-about .iphone-img {
    position: absolute;
    top: -280px;
    width: 428.4px;
    height: 657px;
    background: url("../img/section-app-iphone.png") no-repeat;
    background-size: cover;
    -webkit-transition: all 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 10; }
  .section-about .iphone-shadow {
    position: absolute;
    top: 490px;
    width: 385px;
    height: 20px;
    background: url("../img/section-app-shadow.png") no-repeat;
    background-size: cover;
    opacity: 0;
    -webkit-transition: all 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .section-about-pattern {
    position: absolute;
    top: -30px;
    width: 100%;
    height: 180px;
    background: url("../img/section-app-pattern.png") repeat-x;
    background-size: auto;
    z-index: -200; }

/* section-about End */
/* section-press */
.section-press {
  padding: 150px 0 130px; }
  .section-press .row {
    margin-top: 45px; }
  .section-press .row:last-child {
    margin-top: 40px; }
  .section-press .press-wrapper {
    border: 1px solid #dedede;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.05);
    -moz-box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.05);
    box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.05); }
  .section-press .img-wrapper {
    overflow: hidden;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px; }
  .section-press .content-wrapper {
    min-height: 260px;
    padding: 45px 40px 20px 35px;
    text-align: left;
    background-color: white;
    overflow: hidden;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0; }
  .section-press .content-img {
    margin-left: -25%;
    max-height: 260px; }
  .section-press .content-logo {
    height: 22px; }
  .section-press .content-summary {
    max-width: 200px;
    margin-top: 20px;
    font-size: 16px;
    color: #999; }
  .section-press .logo-besuccess {
    height: 32px;
    margin-top: -10px; }
  .section-press .logo-platum, .section-press .logo-chosunbiz {
    height: 27px;
    margin-top: -5px; }
  .section-press .press-wrapper.col.col-6 {
    width: 49%; }
  .section-press .press-wrapper.col.col-6:last-child {
    margin-left: 2%; }
  .section-press .press-wrapper.col.col-9 {
    width: 73.5%; }
  .section-press .press-wrapper.col.col-3 {
    width: 24.5%;
    margin-left: 2%; }
  @media (min-width: 1600px) {
    .section-press {
      height: 1020px; }
      .section-press .row {
        position: relative;
        margin-top: 45px; }
      .section-press .press-wrapper {
        border: 0;
        box-shadow: none; }
      .section-press .img-wrapper {
        position: absolute;
        width: 500px;
        height: 320px; }
      .section-press .content-wrapper {
        position: absolute;
        border: 1px solid #dedede;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px; }
      .section-press .content-img {
        margin: 0;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px; }
      .section-press .vogue {
        top: 30px;
        left: 100px; }
        .section-press .vogue-img-wrap {
          right: 0;
          z-index: 10; }
        .section-press .vogue-content-wrap {
          top: 40px;
          left: -160px;
          width: 610px; }
      .section-press .besuccess {
        top: 0;
        left: 20px; }
        .section-press .besuccess-img-wrap {
          left: 0; }
        .section-press .besuccess-content-wrap {
          top: 165px;
          width: 340px;
          min-height: 240px;
          z-index: 20; }
          .section-press .besuccess-content-wrap .content-summary {
            max-width: 280px; }
      .section-press .platum {
        top: 350px; }
        .section-press .platum-img-wrap {
          top: -30px;
          left: -10px;
          z-index: 10; }
        .section-press .platum-content-wrap {
          left: 120px;
          width: 610px;
          padding-left: 360px; }
      .section-press .chosunbiz {
        top: 335px;
        right: 100px;
        z-index: 10; }
        .section-press .chosunbiz-img-wrap {
          display: none; } }

/* section-press End */
/* section-hiring */
.section-hiring {
  background: url("../img/section-hiring-bg1.png") no-repeat;
  background-position: center;
  background-size: cover; }
  .section-hiring .header-wrapper {
    text-align: left; }
    .section-hiring .header-wrapper .divider {
      margin: 25px 0 20px;
      background-color: #dedede; }
    .section-hiring .header-wrapper .header-description {
      font-size: 18px;
      line-height: 1.6em;
      color: #666; }
  .section-hiring .row-wrapper {
    margin-top: -30px; }
  .section-hiring .row {
    margin-top: 30px; }
  .section-hiring .hiring-card {
    float: right;
    width: 29%;
    margin-left: 2.5%;
    padding: 50px 0 50px 30px;
    text-align: left;
    background-color: white;
    border: 1px solid #dedede;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.05);
    -moz-box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.05);
    box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.05); }
  .section-hiring .hiring-team-wrapper {
    overflow: hidden; }
  .section-hiring .hiring-team {
    float: left;
    font-size: 16px;
    font-weight: 700; }
  .section-hiring .hiring-position {
    margin-top: 8px;
    font-size: 18px; }
    .section-hiring .hiring-position span {
      color: #999; }
  .section-hiring .empty {
    border: none;
    background: none;
    box-shadow: none; }

/* section-hiring End */
/* section-blog */
.section-blog {
  padding: 255px 0 265px;
  background: url("../img/section-blog-bg.png") no-repeat;
  background-position: center;
  background-size: cover; }
  .section-blog .header {
    color: white; }
  .section-blog .header-link {
    color: rgba(255, 255, 255, 0.5);
    border-bottom: 0; }
    .section-blog .header-link span {
      color: #4adaaf; }

/* section-blog End */
/* seciton-contact */
.section-contact {
  position: relative;
  height: 500px;
  padding: 0; }
  .section-contact .map-wrapper {
    background-color: #999; }
  .section-contact .contact-wrapper {
    padding: 90px 0 0 70px;
    text-align: left;
    color: #222; }
    .section-contact .contact-wrapper .divider {
      margin-top: 35px;
      background-color: #dedede;
      opacity: 0.5; }
    .section-contact .contact-wrapper .address-wrapper {
      max-width: 400px;
      margin-top: 35px; }
    .section-contact .contact-wrapper .address-kor {
      font-size: 16px; }
    .section-contact .contact-wrapper .address-eng {
      margin-top: 15px;
      font-size: 16px;
      font-weight: 100;
      color: #666; }
    .section-contact .contact-wrapper .info-list {
      margin-top: 35px;
      font-size: 16px;
      font-weight: 100;
      color: #666; }
      .section-contact .contact-wrapper .info-list-item:nth-child(n+1) {
        margin-top: 15px; }
      .section-contact .contact-wrapper .info-list .list-item-bold {
        margin-right: 20px;
        color: #ccc;
        font-weight: 300; }
      .section-contact .contact-wrapper .info-list .tel {
        margin-right: 40px; }

/* seciton-contact End */
/* about.html */
/* section-sub */
.section-sub {
  padding: 100px 0; }
  .section-sub .header {
    font-weight: 700;
    color: #222; }

/* section-sub End */
/* section-service */
.sub-about {
  background: url("../img/section-service-bg.png");
  background-position: center;
  background-size: cover; }

.section-service-content {
  padding: 80px 0; }
  .section-service-content .row {
    margin-bottom: -2px; }
  .section-service-content .content-wrapper {
    height: 380px;
    padding: 60px 55px 70px;
    background-color: white;
    border: 1px solid #dedede; }
  .section-service-content .content-header {
    text-align: left;
    color: #222; }
  .section-service-content .content-paragraph {
    margin-top: 30px;
    text-align: left; }
  .section-service-content .divider {
    width: 30px;
    margin-top: 30px;
    background-color: #ccc; }

/* section-service End */
/* about.html End */
/* job.html */
.sub-job {
  background: url("../img/section-job-bg.png");
  background-position: center;
  background-size: cover; }

.section-hiring-process {
  padding: 70px 0;
  text-align: left; }
  .section-hiring-process .hiring-process-wrapper {
    padding: 55px 40px 50px;
    border: 1px solid #4adaaf;
    overflow: hidden;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
  .section-hiring-process .header {
    display: inline-block;
    font-weight: 700;
    color: #222;
    border-bottom: 3px solid #4adaaf; }
    .section-hiring-process .header-wrapper {
      padding-left: 25px; }
  .section-hiring-process .process-wrapper {
    margin-top: 30px;
    padding: 25px; }
  .section-hiring-process .process-num {
    margin-right: 10px;
    font-weight: 300;
    color: #4adaaf; }
  .section-hiring-process .process-header {
    padding: 0 6px; }
  .section-hiring-process .process-description {
    padding: 0 6px;
    font-size: 16px;
    color: #222;
    word-break: normal; }
  .section-hiring-process .process-footnote {
    display: inline-block;
    margin-top: 30px;
    padding-left: 25px;
    font-size: 14px;
    color: #999; }
  .section-hiring-process .divider {
    width: 100%;
    height: 1px;
    margin: 10px auto;
    background-color: #dedede; }

.seciton-job-table {
  padding: 0 0 80px; }
  .seciton-job-table .job-table {
    width: 100%;
    font-size: 18px; }
    .seciton-job-table .job-table thead tr {
      height: 60px;
      border-top: 1px solid #dedede;
      border-bottom: 1px solid #dedede; }
      .seciton-job-table .job-table thead tr th {
        padding: 0 30px;
        text-align: left;
        vertical-align: middle; }
    .seciton-job-table .job-table tbody tr {
      height: 60px;
      border-bottom: 1px solid #dedede;
      transition: 0.2s all ease; }
      .seciton-job-table .job-table tbody tr td {
        padding: 0 30px;
        font-weight: 100;
        text-align: left;
        vertical-align: middle; }
    .seciton-job-table .job-table tbody tr:hover {
      background-color: #f9fefc; }

/* job.html End */
/* contact.html */
.contact {
  position: relative; }
  .contact .container {
    position: relative; }
  .contact-content {
    position: relative;
    width: 89%;
    margin: 150px auto 0;
    padding: 70px 60px 80px;
    background-color: white;
    z-index: 2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
    .contact-content .content-wrapper {
      margin-top: 55px;
      overflow: hidden; }
    .contact-content .content-header {
      display: inline-block;
      border-bottom: 3px solid #4adaaf; }
    .contact-content .content-column {
      float: left;
      width: 30.666%;
      margin-left: 4%; }
      .contact-content .content-column h4 {
        font-size: 16px;
        font-weight: 300;
        color: #999; }
      .contact-content .content-column p {
        margin-top: 20px;
        font-size: 16px; }
      .contact-content .content-column .address-eng {
        margin-top: 3px;
        font-weight: 100;
        line-height: 1.5em;
        color: #999; }
      .contact-content .content-column .btn-wrapper {
        margin-top: 30px;
        padding: 0; }
      .contact-content .content-column .btn-round {
        margin-left: 12px; }
      .contact-content .content-column .btn-round:first-child {
        margin-left: 0; }
    .contact-content .content-column:first-child {
      margin: 0; }
  .contact-fader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1; }
  .contact-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0; }
  .contact .btn-exit {
    display: none;
    position: absolute;
    top: 30px;
    right: 15px;
    width: 44px;
    height: 44px;
    text-align: center;
    font-size: 20px;
    line-height: 43px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #222;
    z-index: 2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.05);
    -moz-box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.05);
    box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.05); }

/* contact.html End */

/*# sourceMappingURL=default.css.map */
