@import 'reset';
@import 'grid';
@import 'color';
@import 'type';
@import 'mixin';

// html, body { width: 100%; height: 100%; }

/* default */
.section { text-align: center; padding: 140px 0; }
.divider { width: 50px; height: 3px; background-color: $gray-dark;  }
.header { font-weight: 300; }
.header-link {
  display: inline-block;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 300;
  color: $primary;
  text-decoration: none;
  border-bottom: 1px solid $primary;
}

.btn {
  &-wrapper {
    margin-top: 28px;
    padding-bottom: 4px; // 그림자 때문에 넣음, overflow 제거 후에 삭제
    overflow: hidden;
  }
  &-appstore {
    float: left;
    width: 144px;
    height: 50px;
    background: url('../img/btn-appstore.png') no-repeat;
    background-size: cover;
    border: 1px solid $border;
    transition: 0.3s all ease;
    @include border-radius(4px);
    @include shadow;
  }
  &-googleplay {
    float: left;
    width: 149px;
    height: 50px;
    margin-left: 20px;
    background: url('../img/btn-googleplay.png') no-repeat;
    background-size: cover;
    border: 1px solid $border;
    transition: 0.3s all ease;
    @include border-radius(4px);
    @include shadow;
  }
  &-appstore:hover, &-googleplay:hover {
    border: 1px solid $gray-dark;
  }
  &-arrow {
    width: 32px;
    height: 32px;
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 100;
    line-height: 27px;
    border: 1px solid $primary;
    @include border-radius(18px);
    @include easeOutCirc(1000ms);
    & a {
      display: inline-block;
      width: 100%;
      height: 100%;
      color: $primary;
      text-decoration: none;
    }
  }
  &-arrow:hover { background-color: $primary; }
  &-arrow a:hover { color: white; }

  &-round {
    display: inline-block;
    padding: 12px 18px;
    font-weight: 300;
    color: $primary;
    border: 1px solid $primary;
    transition: 0.2s all ease;
    @include border-radius(4px);
  }
  &-round:hover {
    color: white;
    background-color: $primary;
  }
}
.alram-new {
  float: left;
  width: 18px;
  height: 18px;
  margin-left: 6px;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  line-height: 18px;
  color: white;
  background-color: $primary;
  @include border-radius(9px);
}
/* default End */

/* section-sub */
.section-sub {
  padding: 100px 0 90px;
  .header {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0;
    color: white;
    &-description {
      margin-top: 8px;
      text-align: center;
      font-weight: 300;
      color: white;
    }
  }
  .divider { margin: 20px 0; background-color: white; }
}
/* section-sub End */

/* GNB */
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  transition: 0.3s all ease;
  z-index: 1000;
  &-logo {
    display: inline-block;
    width: 114px;
    height: 34px;
    background: url('../img/logo-white.png');
    background-size: cover;
    margin-top: 12px;
  }
  .inline-list {
    float: right;
    margin-top: 21px;
    &-item {
      float: left;
      margin-left: 50px;
      font-weight: 500;
      a {
        color: white;
        text-decoration: none;
        opacity: 0.3;
        transition: 0.25s all ease;
      }
      a:hover { color: white; opacity: 1; }
    }
    .active {
      color: $primary !important;
      opacity: 1;
      border-bottom: 2px solid $primary;
    }
    .active:hover {
      color: $primary-dark !important;
      opacity: 1;
      border-bottom: 2px solid $primary-dark;
    }
  }
}
.nav-scroll {
  background-color: white;
  border-bottom: 1px solid $border;
}
.item-scroll {
  color: $black !important;
}

/* GNB End */

/* footer */
.footer {
  width: 100%;
  height: 70px;
  border-top: 1px solid $border;
  background-color: white;
  &-copyright {
    float: left;
    font-size: 14px;
    font-weight: 100;
    line-height: 66px;
    color: $gray-light;
  }
  &-icon-wrapper {
    float: right;
    margin-top: 23px;
    .icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-left: 18px;
      transition: 0.2s all ease;
      &-fb { background: url('../img/icon-fb-light.png'); background-size: cover; }
      &-insta { background: url('../img/icon-insta-light.png'); background-size: cover; }
      &-blog { background: url('../img/icon-blog-light.png'); background-size: cover; }
      &-fb:hover { background: url('../img/icon-fb.png'); background-size: cover; }
      &-insta:hover { background: url('../img/icon-insta.png'); background-size: cover; }
      &-blog:hover { background: url('../img/icon-blog.png'); background-size: cover; }
    }
  }
}
/* footer End */

/* section-intro */
.section-intro {
  position: relative;
  max-height: 800px;
  overflow: hidden;
  z-index: 15;
  .content {
    &-wrapper {
      margin-top: 310px;
      text-align: center;
      overflow: hidden;
    }
    &-kor {
      text-align: center;
      font-weight: 700;
      color: white;
      line-height: 1.5em;
    }
    &-kor span { position: relative; }
    &-kor span:after {
      content: '';
      display: block;
      position: absolute;
      left: -4px; bottom: 1px;
      width: 254px;
      height: 4px;
      background-color: $primary;
      z-index: -20;
    }
  }
  .btn-arrow {
    position: absolute;
    left: 50%; bottom: 30px;
    margin-left: -20px;
    line-height: 29px;
    color: white;
    border: 1px solid white;
    opacity: 0.4;
  }
  .btn-arrow:hover {
    color: $gray;
    background-color: white;
    opacity: 1;
  }
  &-video {
    position: absolute;
    top: 50%; left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    background: url('../img/section-intro-bg.png') no-repeat;
    z-index: -100;
  }
}
/* section-intro End */

/* section-about */
.section-about {
  position: relative;
  padding: 190px 0 170px;
  text-align: left;
  background: url('../img/section-app-bg.png') no-repeat;
  background-position: center bottom;
  .content {
    &-wrapper { padding-left: 10%; }
    &-header {
      max-width: 400px;
      line-height: 1.3em;
    }
    &-description {
      max-width: 400px;
      margin-top: 20px;
      line-height: 1.6em;
      color: $gray;
    }
  }
  .iphone {
    &-wrapper {
      position: relative;
      padding-left: 1%;
    }
    &-img {
      position: absolute;
      top: -280px;
      width: 476px*0.9;
      height: 730px*0.9;
      background: url('../img/section-app-iphone.png') no-repeat;
      background-size: cover;
      @include easeOutBack(2000ms);
      z-index: 10;
    }
    &-shadow {
      position: absolute;
      top: 490px;
      width: 385px;
      height: 20px;
      background: url('../img/section-app-shadow.png') no-repeat;
      background-size: cover;
      opacity: 0;
      @include easeOutBack(2000ms);
    }
  }
  &-pattern {
    position: absolute;
    top: -30px;
    width: 100%;
    height: 180px;
    background: url('../img/section-app-pattern.png') repeat-x;
    background-size: auto;
    z-index: -200;
  }
}
/* section-about End */

/* section-press */
.section-press {
  padding: 150px 0 130px;
  .row { margin-top: 45px; }
  .row:last-child { margin-top: 40px; }
  .press-wrapper {
    border: 1px solid $border;
    @include border-radius(4px);
    @include shadow;
  }
  .img-wrapper {
    overflow: hidden;
    @include border-radius(4px 0 0 4px);
  }

  .content {
    &-wrapper {
      min-height: 260px;
      padding: 45px 40px 20px 35px;
      text-align: left;
      background-color: white;
      overflow: hidden;
      @include border-radius(0 4px 4px 0);
    }
    &-img {
      margin-left: -25%;
      max-height: 260px;
    }
    &-logo { height: 22px; }
    &-summary {
      max-width: 200px;
      margin-top: 20px;
      font-size: 16px;
      color: $gray;
    }
  }

  .logo {
    &-besuccess { height: 32px; margin-top: -10px; }
    &-platum, &-chosunbiz { height: 27px; margin-top: -5px; }
  }

  .press-wrapper.col.col-6 { width: 49%; }
  .press-wrapper.col.col-6:last-child { margin-left: 2%; }
  .press-wrapper.col.col-9 { width: 73.5%; }
  .press-wrapper.col.col-3 { width: 24.5%; margin-left: 2%; }

  @include respond-to('wide') {
  height: 1020px;
    .row { position: relative; margin-top: 45px; }
    .press-wrapper {
      border: 0;
      box-shadow: none;
    }
    .img-wrapper {
      position: absolute;
      width: 500px;
      height: 320px;
    }
    .content {
      &-wrapper {
        position: absolute;
        border: 1px solid $border;
        @include border-radius(4px);
      }
      &-img {
        margin: 0;
        @include border-radius(4px);
      }
    }

    // vogue
    .vogue {
      top: 30px; left: 100px;
      &-img-wrap { right: 0; z-index: 10;}
      &-content-wrap {
        top: 40px; left: -160px;
        width: 610px;
      }
    }
    // besuccess
    .besuccess {
      top: 0; left: 20px;
      &-img-wrap { left: 0; }
      &-content-wrap {
        top: 165px;
        width: 340px;
        min-height: 240px;
        z-index: 20;
        .content-summary { max-width: 280px; }
      }
    }
    // platum
    .platum {
      top: 350px;
      &-img-wrap {
        top: -30px; left: -10px;
        z-index: 10;
      }
      &-content-wrap {
        left: 120px;
        width: 610px;
        padding-left: 360px;
      }
    }
    // chosunbiz
    .chosunbiz {
      top: 335px; right: 100px;
      z-index: 10;
      &-img-wrap { display: none; }
    }
  }

}
/* section-press End */

/* section-hiring */
.section-hiring {
  background: url('../img/section-hiring-bg1.png') no-repeat;
  background-position: center;
  background-size: cover;
  .header-wrapper {
    text-align: left;
    .header { color: white; }
    .divider {
      margin: 25px 0 20px;
      background-color: white;
    }
    .header-description {
      font-size: 18px;
      letter-spacing: 0;
      line-height: 1.6em;
      color: white;
    }
  }
  .row-wrapper { margin-top: -30px; }
  .row {
    margin-top: 30px;
  }
  .hiring {
    &-card {
      float: right;
      width: 29%;
      margin-left: 2.5%;
      padding: 50px 0 50px 30px;
      text-align: left;
      background-color: white;
      border: 1px solid $border;
      @include border-radius(4px);
      @include shadow;
    }
    &-team-wrapper { overflow: hidden; }
    &-team {
      float: left;
      font-size: 16px;
      font-weight: 700;
    }
    &-position {
      margin-top: 8px;
      font-size: 18px;
      & span { color: $gray; }
    }
  }
  .empty {
    border: none;
    background: none;
    box-shadow: none;
  }
}
/* section-hiring End */

/* section-blog */
.section-blog {
  padding: 215px 0 225px;
  background: url('../img/section-blog-bg1.png') no-repeat;
  background-position: center;
  background-size: cover;
  .header {
    color: white;
  }
  .header-link {
    color: white;
    border-bottom: 0;
    & span { color: $primary; }
  }
}
/* section-blog End */

/* seciton-contact */
.section-contact {
  position: relative;
  height: 500px;
  padding: 0;
  .map-wrapper {
    background-color: $gray;
  }
  .contact-wrapper {
    padding: 90px 0 0 70px;
    text-align: left;
    color: $black;
    .divider {
      margin-top: 35px;
      background-color: $border;
      opacity: 0.5;
    }
    .address {
      &-wrapper {
        max-width: 400px;
        margin-top: 35px;
      }
      &-kor { font-size: 16px; }
      &-eng {
        margin-top: 15px;
        font-size: 16px;
        font-weight: 100;
        color: $gray-dark;
      }
    }
    .info-list {
      margin-top: 35px;
      font-size: 16px;
      font-weight: 100;
      color: $gray-dark;
      &-item:nth-child(n+1) { margin-top: 15px; }
      .list-item-bold {
        margin-right: 20px;
        color: $gray-light;
        font-weight: 300;
      }
      .tel { margin-right: 40px; }
    }
  }
}
/* seciton-contact End */


/* about.html */


/* section-about */
.sub-about {
  background: url('../img/section-about-bg.png');
  background-position: center;
  background-size: cover;
}
.section-sub-about {
  padding: 20px 0 70px;
  text-align: left;
  .about-header {
      display: inline-block;
      font-size: 25px;
      font-weight: 700;
      border-bottom: 2px solid $primary;
    }
  .about-content-wrapper {
    .about {
      &-header { margin-top: 80px; }
      &-description {
        max-width: 860px;
        margin-top: 30px;
        padding: 0 20px;
      }
      &-description:nth-child(n+2){
        margin-top: 20px;
      }
    }
    .mission {
      &-list {
        font-size: 16px;
        &-item {
          max-width: 600px;
          margin-top: 20px;
          margin-left: 50px;
          line-height: 1.6em;
          list-style-type: initial;
        }
      }
    }
  }
  .about-history-wrapper {
      padding: 80px 0;
    }
  .history {
    &-wrapper {
      position: relative;
      padding-left: 20px;
      padding-bottom: 60px;
    }
    &-wrapper:before {
      content: '';
      position: absolute;
      top: 0; left: 103px; bottom: 0;
      width: 1px;
      background-color: $border;
    }
    &-list {
      position: relative;
      margin-top: 60px;
      font-size: 25px;
      font-weight: 300;
      &-item {
        position: relative;
        margin-top: 40px;
        margin-left: 110px;
      }
      &-item:before {
        content: '';
        position: absolute;
        top: 10px; left: -31px;
        width: 10px;
        height: 10px;
        background-color: $gray-light;
        @include border-radius(5px);
      }
    }
    &-list:before {
      content: '';
      position: absolute;
      top: 5px; left: 77px;
      width: 14px;
      height: 14px;
      border: 1px solid $primary;
      background-color: white;
      @include border-radius(7px);
    }
    &-list:first-child { margin-top: 70px; }
    &-body { color: $gray-dark; }
  }
}
/* section-about End */

/* about.html End */



/* team.html */
.sub-team {
  background: url('../img/section-team-bg.png');
  background-position: center;
  background-size: cover;
}
.section-member {
  padding: 60px 0 70px;
  .member {
    &-column {
      padding: 10px 15px;
    }
    &-wrapper {
      text-align: left;
      border: 1px solid $border;
      @include border-radius(4px);
      @include shadow;
    }
    &-img { width : 100%; }
    &-content-wrapper {
      padding: 30px;
    }
    &-team {
      margin-top: 10px;
      font-size: 16px;
      font-weight: 700;
    }
    &-name {
      font-size: 18px;
      font-weight: 700;
    }
    &-position {
      font-size: 14px;
      font-weight: 100;
      color: $gray;
    }
    &-introduce {
      display: -webkit-box;
      height: 8.25em;
      font-size: 16px;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      word-wrap: break-word;
      text-overflow: ellipsis;
      word-break: normal;
      overflow: hidden;
    }
  }
  .divider {
    margin: 24px 0px 18px;
    width: 100%;
    height: 1px;
    background-color: $border;
  }
}
/* team.html End */


/* job.html */
.sub-job {
  background: url('../img/section-job-bg.png');
  background-position: center;
  background-size: cover;
}
.section-hiring-process {
  padding: 50px 0 70px;
  text-align: left;
  .hiring-process-wrapper {
    padding: 55px 40px 50px;
    border: 1px solid $primary;
    overflow: hidden;
    @include border-radius(4px);
  }
  .header {
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    color: $black;
    border-bottom: 2px solid $primary;
    &-wrapper {
      padding-left: 25px;
    }
  }
  .process {
    &-wrapper {
      margin-top: 30px;
      padding: 25px;
    }
    &-num {
      margin-right: 10px;
      font-weight: 300;
      color: $primary;
    }
    &-header {
      padding: 0 6px;
      font-size: 18px;
      font-weight: 300;
    }
    &-description {
      padding: 0 6px;
      font-size: 16px;
      color: $black;
    }
    &-footnote {
      display: inline-block;
      margin-top: 30px;
      padding-left: 25px;
      font-size: 14px;
      color: $gray;
    }
  }
  .divider {
    width: 100%;
    height: 1px;
    margin: 10px auto;
    background-color: $border;
  }
}

.seciton-job-table {
  padding: 0 0 80px;
  .job-table {
    width: 100%;
    font-size: 16px;
    &-content { background-color: $background; }
    .table-content-wrapper { padding: 20px 30px 70px; }
    .content {
      &-wrapper { margin-top: 50px; }
      &-header {
        display: inline-block;
        font-size: 18px;
        font-weight: 700;
        border-bottom: 2px solid $border;
      }
      &-description {
        margin-top: 20px;
        font-size: 16px;
        font-weight: 100;
      }
      &-list {
        margin-top: 25px;
        padding-left: 30px;
        &-item {
          margin-top: 12px;
          font-size: 16px;
          list-style-type: initial;
        }
      }
    }
    thead {
      tr {
        height: 60px;
        border-top: 1px solid $border;
        border-bottom: 1px solid $border;
        th {
          padding: 0 30px;
          text-align: left;
          vertical-align: middle;
        }
      }
    }
    tbody {
      tr {
        height: 60px;
        border-bottom: 1px solid $border;
        transition: 0.2s all ease;
        td {
          padding: 0 30px;
          font-weight: 100;
          text-align: left;
          vertical-align: middle;
        }
      }
      tr:hover { background-color: #f9fefc; }
    }
  }
}
/* job.html End */



/* press.html */
.sub-press {
  background: url('../img/section-press-bg.png');
  background-position: center;
  background-size: cover;
}

.section-sub-press {
  padding: 0 0 70px;
  .press {
    &-wrapper {
      padding: 50px 40px;
      text-align: left;
      border-bottom: 1px solid $border;
    }
    &-company {
      font-size: 18px;
      font-weight: 300;
    }
    &-date {
      margin-top: 10px;
      font-size: 18px;
      color: $gray;
    }
    &-header {
      font-weight: 300;
    }
    &-content {
      margin-top: 16px;
      color: $gray;
    }
  }
  .btn-wrapper { margin-top: 20px; }
  .pagenation-wrapper {
    padding: 20px 40px;
    font-size: 16px;
    text-align: center;
    overflow: hidden;
    .page {
      &-prev {
        float: left;
        padding: 14px 20px;
      }
      &-next {
        float: right;
        padding: 14px 20px;
      }
      &-list {
        margin: 0 auto;
        clear: both;
        overflow: hidden;
        &-item {
          float: left;
          padding: 14px 20px;
          font-weight: 100;
          color: $gray;
        }
        &-item:hover, .page-prev:hover, .page-next:hover {
          background-color: $background;
        }
        .active {
          color: $primary;
          background-color: #f9fefc;
        }
        .active:hover { background-color: $background; }
      }
    }
    .inline-list {
      display: inline-block;
    }
  }
}
/* press.html End */


/* contact.html */

.section-sub-contact, .section-sub-address {
  .header {
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    color: $black;
    border-bottom: 2px solid $primary;
  }
}

.section-sub-contact {
  padding: 50px 0;
  .cowork-wrapper {
    padding: 55px 40px 50px;
    text-align: left;
    border: 1px solid $primary;
    overflow: hidden;
    @include border-radius(4px);
    .cowork-content {
      &-wrapper { padding: 0 25px; }
      &-body { font-size: 16px; }
    }
    .content-body-wrapper {
      margin-top: 35px;
    }
    .btn-round:nth-child(n+2) { margin-left: 12px; }
  }
}

.section-sub-address {
  position: relative;
  padding: 20px 25px 70px;
  text-align: left;
  .email-container {
    position: relative;
    padding: 0 25px 0 65px;
  }
  .address-container {
    padding: 0 25px;
  }
  .email {
    &-wrapper { margin-top: 25px; }
    &-description { max-width: 350px; }
    &-list {
      margin-top: 20px;
      padding-left: 20px;
      &-item {
        margin-top: 6px;
        overflow: hidden;
      }
    }
    &-team {
      float: left;
      width: 100px;
      font-size: 16px;
    }
    &-body {
      float: left;
      font-size: 16px;
    }
  }
  .address {
    &-wrapper {
      max-width: 350px;
      margin-top: 25px;
    }
    &-body-kor { font-size: 16px; }
    &-body-eng {
      margin-top: 14px;
      font-size: 16px;
      font-weight: 100;
      color: $gray-dark;
    }
  }
  .map-wrapper {
    position: relative;
    height: 600px;
    margin-top: 70px;
  }
}
/* contact.html End */
