.sub-about {
  background: url('../img/section-about-bg.png');
  background-position: center;
  background-size: cover;
}
.about-header {
  display: inline-block;
  margin-top: 80px;
  font-size: 25px;
  font-weight: 700;
  border-bottom: 2px solid $primary;
}
.section-sub-about {
  padding: 20px 0 70px;
  text-align: left;
  .about-content-wrapper {
    max-width: 720px;
    margin: 0 auto;
    .about {
      &-description { margin-top: 25px; }
      &-description:nth-child(n+2){ margin-top: 20px; }
    }
    .mission {
      &-list {
        font-size: 16px;
        margin-top: 18px;
        margin-left: 25px;
        &-item {
          max-width: 600px;
          margin-top: 16px;
          line-height: 1.6em;
          list-style-type: initial;
        }
        &-item:first-child { margin-top: 15px; }
      }
    }
  }
  .about-history-wrapper {
      max-width: 720px;
      margin: 0 auto;
      padding: 50px 0 80px;
    }
  .history {
    &-wrapper {
      position: relative;
      padding-bottom: 60px;
    }
    &-wrapper:before {
      content: '';
      position: absolute;
      top: 0; left: 83px; bottom: 0;
      width: 1px;
      background-color: $border;
    }
    &-date { font-size: 16px; }
    &-list {
      position: relative;
      margin-top: 60px;
      font-size: 22px;
      font-weight: 300;
      &-item {
        position: relative;
        margin-top: 40px;
        margin-left: 110px;
      }
      &-item:before {
        content: '';
        position: absolute;
        top: 8px; left: -31px;
        width: 10px;
        height: 10px;
        background-color: $gray-light;
        @include border-radius(5px);
      }
    }
    &-list:before {
      content: '';
      position: absolute;
      top: 5px; left: 77px;
      width: 14px;
      height: 14px;
      border: 1px solid $primary;
      background-color: white;
      @include border-radius(7px);
    }
    &-list:first-child { margin-top: 70px; }
    &-body {
      font-size: 16px;
      color: $gray;
    }
  }
}

// narrow
@include respond-to('narrow') {
  .about-header {
    margin-top: 30px;
    font-size: 18px;
  }
  .section-sub-about {
    .container { padding: 0 35px; }
    .about-content-wrapper {
      .about {
        &-description {
          margin-top: 20px;
          padding: 0;
        }
        &-description:nth-child(n+2){ margin-top: 15px; }
      }
      .mission {
        &-list {
          margin-left: 30px;
          font-size: 14px;
          &-item { margin-top: 15px; }
        }
      }
    }
    .about-history-wrapper {
      margin-top: 40px;
      padding: 0 20px;
      .history {
        &-wrapper { padding: 0; }
        &-wrapper:before { left: 73px; }
        &-list {
          font-size: 18px;
          &-item { margin-left: 100px; }
          &-item:before { top: 6px; }
        }
        &-list:before { left: 67px; }
        &-list:first-child { margin-top: 50px; }
        &-date { font-size: 14px; }
        &-body { font-size: 14px; }
      }
    }
  }
}
