/* section-intro */
.section-intro {
  position: relative;
  max-height: 800px;
  overflow: hidden;
  z-index: 15;
  .content {
    &-wrapper {
      margin-top: 310px;
      text-align: center;
      overflow: hidden;
    }
    &-kor {
      text-align: center;
      font-weight: 700;
      color: white;
      line-height: 1.5em;
    }
    &-kor span { position: relative; }
    &-kor span:after {
      content: '';
      display: block;
      position: absolute;
      left: -4px; bottom: 1px;
      width: 254px;
      height: 4px;
      background-color: $primary;
      z-index: -20;
    }
  }
  .btn-arrow {
    position: absolute;
    left: 50%; bottom: 30px;
    margin-left: -20px;
    line-height: 29px;
    color: white;
    border: 1px solid white;
    opacity: 0.4;
  }
  .btn-arrow:hover {
    background-color: transparent;
  }
  &-video {
    position: absolute;
    top: 50%; left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    background: url('../img/section-intro-bg.png') no-repeat;
    z-index: -100;
  }
}
/* section-intro End */

/* section-about */
.section-about {
  position: relative;
  padding: 190px 0 170px;
  text-align: left;
  background: url('../img/section-app-bg.png') no-repeat;
  background-position: center bottom;
  .content {
    &-wrapper { padding-left: 10%; }
    &-header {
      max-width: 400px;
      line-height: 1.3em;
    }
    &-description {
      max-width: 400px;
      margin-top: 20px;
      line-height: 1.6em;
      color: $gray;
    }
  }
  .iphone {
    &-wrapper {
      position: relative;
      padding-left: 1%;
    }
    &-img {
      position: absolute;
      top: -280px;
      width: 476px*0.9;
      height: 730px*0.9;
      background: url('../img/section-app-iphone.png') no-repeat;
      background-size: cover;
      @include easeOutBack(2000ms);
      z-index: 10;
    }
    &-shadow {
      position: absolute;
      top: 490px;
      width: 385px;
      height: 20px;
      background: url('../img/section-app-shadow.png') no-repeat;
      background-size: cover;
      opacity: 0;
      @include easeOutBack(2000ms);
    }
  }
  &-pattern {
    position: absolute;
    top: -30px;
    width: 100%;
    height: 180px;
    background: url('../img/section-app-pattern.png') repeat-x;
    background-size: auto;
    z-index: -200;
  }
}
/* section-about End */

/* section-press */
.section-press {
  padding: 150px 0 130px;
  .row { margin-top: 45px; }
  .row:last-child { margin-top: 40px; }
  .press-wrapper {
    border: 1px solid $border;
    @include border-radius(4px);
    @include shadow;
  }
  .img-wrapper {
    overflow: hidden;
    @include border-radius(4px 0 0 4px);
  }

  .content {
    &-wrapper {
      min-height: 260px;
      padding: 45px 40px 20px 35px;
      text-align: left;
      background-color: white;
      overflow: hidden;
      @include border-radius(0 4px 4px 0);
    }
    &-img {
      margin-left: -25%;
      max-height: 260px;
    }
    &-logo { height: 22px; }
    &-summary {
      max-width: 200px;
      margin-top: 20px;
      font-size: 16px;
      color: $gray;
    }
  }

  .logo {
    &-besuccess { height: 32px; margin-top: -10px; }
    &-platum, &-chosunbiz { height: 27px; margin-top: -5px; }
  }

  .press-wrapper.col.col-6 { width: 49%; }
  .press-wrapper.col.col-6:last-child { margin-left: 2%; }
  .press-wrapper.col.col-9 { width: 73.5%; }
  .press-wrapper.col.col-3 { width: 24.5%; margin-left: 2%; }

  @include respond-to('wide') {
  height: 1020px;
    .row { position: relative; margin-top: 45px; }
    .press-wrapper {
      border: 0;
      box-shadow: none;
    }
    .img-wrapper {
      position: absolute;
      width: 500px;
      height: 320px;
    }
    .content {
      &-wrapper {
        position: absolute;
        border: 1px solid $border;
        @include border-radius(4px);
      }
      &-img {
        margin: 0;
        @include border-radius(4px);
      }
    }

    // vogue
    .vogue {
      top: 30px; left: 100px;
      &-img-wrap { right: 0; z-index: 10;}
      &-content-wrap {
        top: 40px; left: -160px;
        width: 610px;
      }
    }
    // besuccess
    .besuccess {
      top: 0; left: 20px;
      &-img-wrap { left: 0; }
      &-content-wrap {
        top: 165px;
        width: 340px;
        min-height: 240px;
        z-index: 20;
        .content-summary { max-width: 280px; }
      }
    }
    // platum
    .platum {
      top: 350px;
      &-img-wrap {
        top: -30px; left: -10px;
        z-index: 10;
      }
      &-content-wrap {
        left: 120px;
        width: 610px;
        padding-left: 360px;
      }
    }
    // chosunbiz
    .chosunbiz {
      top: 335px; right: 100px;
      z-index: 10;
      &-img-wrap { display: none; }
    }
  }

}
/* section-press End */

/* section-hiring */
.section-hiring {
  background: url('../img/section-hiring-bg1.png') no-repeat;
  background-position: center;
  background-size: cover;
  .header-wrapper {
    text-align: left;
    .header { color: white; }
    .divider {
      margin: 25px 0 20px;
      background-color: white;
    }
    .header-description {
      font-size: 18px;
      letter-spacing: 0;
      line-height: 1.6em;
      color: white;
    }
  }
  .row-wrapper { margin-top: -30px; }
  .row {
    margin-top: 30px;
  }
  .hiring {
    &-card {
      float: right;
      width: 29%;
      margin-left: 2.5%;
      padding: 50px 0 50px 30px;
      text-align: left;
      background-color: white;
      border: 1px solid $border;
      @include border-radius(4px);
      @include shadow;
    }
    &-team-wrapper { overflow: hidden; }
    &-team {
      float: left;
      font-size: 16px;
      font-weight: 700;
    }
    &-position {
      margin-top: 8px;
      font-size: 18px;
      & span { color: $gray; }
    }
  }
  .empty {
    border: none;
    background: none;
    box-shadow: none;
  }
}
/* section-hiring End */

/* section-blog */
.section-blog {
  padding: 215px 0 225px;
  background: url('../img/section-blog-bg1.png') no-repeat;
  background-position: center;
  background-size: cover;
  .header {
    color: white;
  }
  .header-link {
    color: white;
    border-bottom: 0;
    & span { color: $primary; }
  }
}
/* section-blog End */

/* seciton-contact */
.section-contact {
  position: relative;
  height: 500px;
  padding: 0;
  .map-wrapper {
    background-color: $gray;
  }
  .contact-wrapper {
    padding: 90px 0 0 70px;
    text-align: left;
    color: $black;
    .divider {
      margin-top: 35px;
      background-color: $border;
      opacity: 0.5;
    }
    .address {
      &-wrapper {
        max-width: 400px;
        margin-top: 35px;
      }
      &-kor { font-size: 16px; }
      &-eng {
        margin-top: 15px;
        font-size: 16px;
        font-weight: 100;
        color: $gray-dark;
      }
    }
    .info-list {
      margin-top: 35px;
      font-size: 16px;
      font-weight: 100;
      color: $gray-dark;
      &-item:nth-child(n+1) { margin-top: 15px; }
      .list-item-bold {
        margin-right: 20px;
        color: $gray-light;
        font-weight: 300;
      }
      .tel { margin-right: 40px; }
    }
  }
}
/* seciton-contact End */
